{% extends 'base.twig' %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block body %}

    <div id="carouselExampleControls" class="carousel slide h-screen-50" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
                <img src="https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80" class="image" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="mt-5">
        <div class="container">
                    <div class="row g-5">
                        {% for book in books %}
                            <a href="/books/detail/{{ book.id }}" class="course__wrapper col col-12 col-sm-6 col-md-3">
                                <div class="course">
                                    <img src="{{ book.link }}" alt="course" class="image">
                                    <div class="course__info">
                                        <h3 class="course__name">{{ book.name }}</h3>
                                        <p class="course__description">{{ book.description }}</p>
                                        <div class="prices">
                                            <div class="price text-primary">{{ book.price }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
