{% extends'base.twig' %}

{% block head %}
    <title>Detail</title>
    <link rel="stylesheet" href="/css/books/detail.css">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col col-8">
                <div class="section overview">
                    <h3 class="book__name fw-bold fs-2">{{ name }}</h3>
                </div>

                <div class="section detail">
                    <div class="book__intro">
                        <h4 class="fw-bold fs-3">Giới thiệu sách</h4>
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="{{ banner_link }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="text-primary fw-bolder fs-4">{{ price }}</div>
                        <div class="w-100 d-flex gap-3 mt-4">
                            <button class="w-50 btn btn-light">Mua ngay</button>
                            <a href="{{ "/cart/add/#{bookId}" }}" class="btn__add-to-cart w-50 btn btn-danger">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="courses__related">
            <div class="group">
                <div class="group__info">
                    <h2 class="group__title">Những cuốn sách cùng chủ đề</h2>
                </div>

                <div class="swiper my__swiper">
                    <div class="swiper-wrapper">
                        {% for book in books %}
                            <div class="swiper-slide">
                                <a href="/books/detail/{{ book.id }}" class="course__wrapper col col-12 col-sm-6 col-md-3">
                                    <div class="course">
                                        <img src="{{ book.link }}" alt="course" class="img-fluid">
                                        <div class="course__info">
                                            <h3 class="course__name">{{ book.name }}</h3>
                                            <p class="course__description">{{ book.description }}</p>
                                            <div class="prices">
                                                <div class="price--discount">{{ book.price }}</div>
                                                <div class="price text-primary">200000đ</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="/js/books/detail.js"></script>
{% endblock %}
